#gameContainer{
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:auto;
    background-color: black;
}

#gameBoard{
    outline: 1px solid white;
}

